body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: darkblue;
    background-color: lightblue;
}
h2 {
    color: red;
    background-color: green;
}
p {
    text-align: justify;
}